/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모든 요소의 크기 계산 방식 고정 */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%; /* 브라우저 높이에 딱 맞춤 */
  margin: 0;
  padding: 12px;
  overflow: hidden; /* 스크롤 절대 방지 */
  background-color: white;
  
}

body {
  border: gray solid 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}